<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Definir la acción para abrir la configuración de My Integration -->
    <record id="action_social_post_settings" model="ir.actions.act_window">
        <field name="name">Social Post</field>
        <field name="res_model">res.config.settings</field>
        <field name="view_mode">form</field>
        <field name="target">new</field>
        <field name="context">{'module': 'postitodoo'}</field>
    </record>

    <!-- Crear el menú dentro de Configuración -->
    <menuitem id="menu_social_post_settings"
              name="Social Post"
              parent="base.menu_config"
              sequence="10"/>
</odoo>
